canvas { 
    padding: 0px;
}

body {
    background-color: #c29946;
    background-image: url("./assets/bg.jpg");
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar { width: 0 !important }
body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }

h2, h3 {
  text-align: center;
  margin-bottom: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=password], select {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4ad650;
}

.container {
    padding: 16px;
    background-color: #b6b6b6;
}

.expBarBg {
  height: 10px;
  width: 100%;
  background-color: #333;
}

.Player1progress { width: 10%; }
.Player2progress { width: 20%; }
.Player3progress { width: 30%; }
.Player4progress { width: 40%; }
.Player5progress { width: 50%; }

.expBarBgProgress {
  height: 100%;
  background-color: #4ad650;
}

.gameCanvas { display:none; }
.sidePanel {
    display:none;
    background-image: url("./assets/bg_metal.jpg");
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.containerLogin {
    background-image: url("./assets/bg_metal.jpg");
    width: 640px;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.smallBlock {
    width: 134px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.modeButton {
    width: 158px;
}

.quarterWidth {
    width: 158px;
}

table {
    width: 640px;
    border: 0px;
    border-spacing: 0px;
    border-collapse:collapse;
}

.HORSEMAN { height: 64px; width: 64px; background: url('./assets/avatars.png') 0 0; }
.BOWMAN { height: 64px; width: 64px; background: url('./assets/avatars.png') 0 -64px; }
.SWORDMAN { height: 64px; width: 64px; background: url('./assets/avatars.png') 0 -128px; }
.MAGE { height: 64px; width: 64px; background: url('./assets/avatars.png') 0 -192px; }
.ELF { height: 64px; width: 64px; background: url('./assets/avatars.png') 0 -256px; }
.helpPageClassDescription {width: 250px;}
.helpPage {background-color: #ddd;}